# Environment & Secrets
.env
*.env.local

# Python
.venv/
venv/
ENV/
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# dbt artifacts
dbt_project/target/
dbt_project/logs/
dbt_packages/
dbt_project/dbt_packages/
dbt_project/.user.yml

# Airflow
airflow/logs/
airflow.db
airflow-webserver.pid

# OS & IDEs
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
